.footer {
  height: 7vh;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding: 0px 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff; /* prevent overlap transparency */
  z-index: 1000; /* keep it above other content */
}

.adminmain
{
flex: 1;
padding-bottom: 80px;
}
.products
{
 height: 80px;
 border: 1px solid green;
 width: 90%;
 margin-left: 5%;
 border-radius: 10px; 
 margin-top: 10px;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
.categoriesList{
padding: 5px;
 border: 1px solid green;
 margin-left: 5px;
 border-radius: 10px; 
 margin-top: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
}
.productname
{
 width: 60%;
}
.adminpro
{
 overflow: scroll;
 height: 70vh;
}
.detail
{
 display: flex;
 margin-left: 15px;
 justify-content: space-evenly;
 margin-top: 5px;
}